/* 显示 */
.btn-enter,
.btn-appear {
    opacity: 0;
    transform: scale(0.7);
}
.btn-enter-active,
.btn-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1000ms;
}
.btn-enter-done {
}

/* 隐藏 */
.btn-exit {
    opacity: 1;
    transform: scale(1);
}
.btn-exit-active {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 1000ms, transform 1000ms;
}
.btn-exit-done {
    opacity: 0;
    /* transform: translateX(100%); */
}
